*{
    margin: 0;
    padding: 0;
}
body{
    list-style: none;
    box-sizing: none;
}

.nav-item li{
    list-style: none;
    text-decoration: none;
    box-sizing: none;
    
 
}
/* ändra color på card button */
.custom-btn {
    background-color: #f8f3f3;
  
    color: #ffffff;
    
}
.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
    margin: 0 10rem;
  
}

.justify-self-end{
    justify-self: end;
    

 

}

/* img {
    object-fit: contain;
    max-height: 15vh;
    
    
} */
.navbar-nav,
.mr-auto {
flex:auto;
display: flex;
justify-content: center;
gap: 5rem;



}
.card-body {
      display: flex;
      flex-direction: column;
      text-align: center;
      justify-content: flex-end;
  }

@media(max-width: 991px) {
    .navbar-nav,
    .mr-auto {
    display: block;

    }
 
} 

